.App {
}

.App-header {
  background-color: #92aafb;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  color: white;
}
.Main {
  background-color: #EEF2F9;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}
#prosjektnavn{
  float: left;
  color: #f8f7f7;
  font-size: 21px;
  margin-left: 10vh;
  font-weight: 600;
}
#brukernavn{
  text-align: center;
  margin-right: 30vh;
  font-size: 16px;
  margin-top: 0.35vh;
}
.sidebar{
  width: 3.4vw;
  height: 93vh;
  background-color: #d4daeb;
  float:left;
}
.sidebarIcon{
  color: rgb(111, 130, 156);
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}
.sidebarName{
  margin-top: 0vh; 
  font-size: 10px;
  color: rgb(111, 130, 156);
  
}
.linkTo {
  display: block;
  font-size: 23pt;
  height: 6vh;
  text-align: center;
  margin-bottom: 2.5vh;
}
.linkTo:hover{
  background-color: #a2aff7;
}

.linkWrapper {
  padding-top: 4vh;
}
.btnBasic{
  border-radius: 2px;
  background-color: rgb(212, 136, 152);
  cursor: pointer;
  border: 0;
  min-width: 8vh;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0.6vh; 
}
#loggut{
  right: 2vh;
  position: absolute;
}
ul {
  list-style: none;
  padding: 0;
}
li{
  
  vertical-align:top;
}
.KanbanBox{
  min-height: 91vh;
  width: 94vw;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 4vh;
  padding-top: 2vh;
}
.row{ 
  float: left;
  width: 30vh;
  margin-right: 2vh;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  border-top: 0.5vh solid transparent;
  background-image: linear-gradient(#f6f8fc, #f6f8fc), linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
#row1test{
  background-image: linear-gradient(#f6f8fc, #f6f8fc), linear-gradient(to right, #f794a4 0%, #fdd6bd 100%);
}
#row2test{
  background-image: linear-gradient(#f6f8fc, #f6f8fc), linear-gradient(to right, #d9afd9 0%, #97d9e1 100%);
}
#rowHeader{
  margin-top: 1vh;
  margin-bottom: 0.1vh;
}
.kort{
  margin: 1.4vh;
  margin-top: 0.5vh; 
  padding: 1vh;
  width: 25vh;
  border-radius: 4px;
  background-color: #ffffff;
  color: #5d5c80;
}
.nyttKort{
  padding: 1vh;
  border-radius: 2px;
  background-color: rgb(220, 225, 233);
  cursor: pointer;
  border: 0;
  min-width: 100%;
  color: #818b98;
  font-size: 14px;
  position: center;
}
.rowListe{ 
  display: inline-block;
  width: 30vh;
  margin-right: 2vh;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}
#nyListe{
  padding: 1vh;
  border-radius: 6px;
  background-color: #f6f8fc;
  cursor: pointer;
  border: 0;
  min-width: 100%;
  color: #5d5c80;
  font-size: 14px;
  position: center;
  border-top: 0;
}
.LoginInput{
  width: 28vh;
  font-size:16px;
  color: #fff;
  padding: 10px 12px;
  margin-bottom: 3vh;
  margin-top: 1vh;
  border: none;
  border-radius: 3px;
  background: #c8d4e6;
}
.loginform{
  background-color: rgba(58, 63, 75, .85);
  border-radius: 6px;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25vh;
  margin-left: -20vh;
}
.loginBG {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.loginbtn{
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 1.5vh;
  padding: 1vh;
  display: inline;
  padding: 10px 12px;
}
#loginbtn{
  background-color: #3e8abd;
  min-width: 12vh;
}
#signupbtn{
  background-color: transparent;
  margin-top: 1vh;
  min-width: 12vh;
}
.login-group label{
  font-size: 2vh;
  color: #fff;
  text-align: right;
}
.LoginText{
  font-size: 4vh;
  color: #fff;
  font-weight: 600;
  margin-top: 0;
}
.inputKort{
  width: 24.2vh;
  font-size:16px;
  color: #fff;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: none;
  background: #c8d4e6;
  padding: 1.4vh;
  border-radius: 4px;
}
.inputKort1{
  text-align: center
}
#leggtilKort{
  position: relative;
  background-color: rgb(98, 204, 98);
  margin: 1vh;
  right: 1vh;
}
#leggtilKortAvbryt{
  position: relative;
  background-color: #df5050;
  margin: 1vh;
  right: 1vh;
  min-width: 3vh;
}
.KortNavn{
  font-size: 24px;
  padding-left: 0.4vh;
  margin-top: 0.5vh;
}
.KortLagtTil{
  font-size: 11px;
  padding-left: 0.4vh;
  display: inline;
}
#KortSlett{
  display: inline;
  float: right;
  min-width: 3vh;
  font-size: 1.5vh;
  color: rgba(50, 115, 220, 0.3);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}
#KortSlett:hover{
  background-color: #df5050;
  color: #fff;
}
.KortDivBottom{
  margin-top: -3vh;
}
#KortEdit{
  display: inline;
  float: right;
  min-width: 2.5vh;
  font-size: 1.5vh;
  color: rgba(50, 115, 220, 0.3);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}
#KortEdit:hover{
  background-color: #508edf;
  color: #fff;
}
#ListeEdit{
  display: inline;
  float: right;
  margin-right: 1.2vh;
  min-width: 2vh;
  font-size: 2vh;
  color: rgba(50, 115, 220, 0.3);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}
#ListeEdit:hover{
  background-color: rgba(50, 115, 220, 0.3);
  color: #fff;
}
#editTextbtn{
  background-color: transparent;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  font-size: 18px;
  margin-left: 2vh;
  align-items: left;
  color: #818b98;
  font-weight: 600;
}
#editTextbtn:hover{
  background-color: #7fa3d393;
}
.PrioriteringBox{
  font-size: 12px;
  background-color: #77e677;
  width: 7vh;
  cursor: pointer;
  border-radius: 2px;
  height: 2.25vh;
  border: none;
}
#PrioriteringText{
  padding-top: 0.1vh;
  color: #fff;
}
.ghost {
  opacity: .5;
  background: #C8EBFB;
}
.kortTopRow{
  margin-top: -0.5vh;
}