.App {
  text-align: center;
}

.App-header {
  background-color: #92aafb;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.Main {
  background-color: #EEF2F9;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

h3{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btnBasic{
  border-radius: 2px;
  background-color: rgb(212, 136, 152);
  cursor: pointer;
  border: 0;
  min-width: 8vh;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0.6vh; 
}

#loggut{
  right: 2vh;
  position: absolute;
}

ul {
  list-style: none;
  display: inline;
  padding: 0;
}
.KanbanBox{
  min-height: 84vh;
  min-width: 96vw;
  margin: 3vh;
}
.KanbanBox:after{
  display: table;
  clear: both;
}
.row{ 
  background-color: #f6f8fc;
  border-radius: 6px;
  float: left;
  width: 30vh;
  margin-right: 2vh;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.26);
}

.row-header{
  font-size: 15px;
  margin: 2vh;
  align-items: left;
  color: #818b98;
}
.re{
  margin: 1.4vh;
  padding: 1vh;
  border-radius: 4px;
  background-color: #ffffff;
  color: #5d5c80;
}

.nyttKort{
  padding: 1vh;
  border-radius: 2px;
  background-color: rgb(220, 225, 233);
  cursor: pointer;
  border: 0;
  min-width: 100%;
  color: #818b98;
  font-size: 14px;
  position: center;
}
.nyListe{
  padding: 1vh;
  border-radius: 6px;
  background-color: #f6f8fc;
  cursor: pointer;
  border: 0;
  min-width: 100%;
  color: #5d5c80;
  font-size: 14px;
  position: center;
}

.LoginInput{
  width: 28vh;
  font-size:16px;
  color: #fff;
  padding: 10px 12px;
  margin-bottom: 3vh;
  margin-top: 1vh;
  border: none;
  border-radius: 3px;
  background: #c8d4e6;
}
.loginform{
  background-color: rgba(58, 63, 75, .85);
  border-radius: 6px;
  padding: 4vh;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25vh;
  margin-left: -20vh;
}
.loginBG {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.loginbtn{
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  min-width: 30vh;
  color: #fff;
  font-size: 1.5vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 1vh;
  display: inline;
  padding: 10px 12px;
}
#loginbtn{
  background-color: #3e8abd;
}

#signupbtn{
  background-color: #24363d;
  margin-top: 2vh;
}

.login-group label{
  font-size: 2vh;
  color: #fff;
  text-align: right;
}

.LoginText{
  font-size: 4vh;
  color: #fff;
  font-weight: 600;
  margin-top: 0;
}
.inputKort{
  width: 24.2vh;
  font-size:16px;
  color: #fff;
  margin-bottom: 1vh;
  border: none;
  background: #c8d4e6;
  padding: 1.4vh;
  border-radius: 4px;
}
.inputKort1{
  text-align: center
}
#leggtilKort{
  position: relative;
  background-color: rgb(98, 204, 98);
  margin: 1vh;
  right: 1vh;
}

#leggtilKortAvbryt{
  position: relative;
  background-color: rgb(223, 80, 80);
  margin: 1vh;
  right: 1vh;
  min-width: 3vh;
}
.KortNavn{
  font-size: 20px;
  display: inline;
}
.KortLagtTil{
  font-size: 14px;
}
#KortSlett{
  min-width: 2.5vh;
  font-size: 1.1vh;
}

#KortSlettDiv{
  display: inline;
  float: right;
  margin-top: -0.2vh;
}