.App {
  text-align: center;
}

.App-header {
  background-color: #212327;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.Main {
  background-color: #282c34;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

h3{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loggut{
  border-radius: 2px;
  background-color: #b81e1e;
  cursor: pointer;
  border: 0;
  min-width: 8vh;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0.6vh;
  right: 2vh;
  position: absolute;
}
ul {
  list-style: none;
  display: inline;
}
.KanbanBox{
  min-height: 84vh;
  min-width: 96vw;
  margin: 3vh;
}
.KanbanBox:after{
  display: table;
  clear: both;
}
.row{ 
  background-color: #3f4247;
  border-radius: 6px;
  float: left;
  width: 30vh;
  margin-right: 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.row-header{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.re{
  margin: 1.4vh;
  padding: 1vh;
  border-radius: 4px;
  background-color: #282c34;
}

.nyttKort{
  padding: 1vh;
  border-radius: 2px;
  background-color: #333b55;
  cursor: pointer;
  border: 0;
  min-width: 100%;
  color: #fff;
  font-size: 14px;
  position: center;
}
