h1{
    color: #818b98;
}
h2{
    color: #818b98;
}
h4{
    color: #4d4f50;
}
ul {
    
  }

.DashboardBox{
    float: left;
    background-color: #EEF2F9;
    min-height: 91vh;
    width: 49.5vw;
    padding-left: 4vh;
    padding-top: 2vh;
}
#VelkommenText{
    font-size: 38px;
}
#oppgaveTitle{
    font-size: 26px;
    margin-left: 5vh;
    margin-top: 4vh;
}
.oppgaveText{
    font-size: 16px;
    padding-left: 8vh;
    padding-right: 8vh;
}
.kalenderContainer{
    float: right;
    min-height: 91vh;
    padding-right: 2vh;
    width: 44vw;
    background-color: aliceblue;
    display: block;
    overflow: hidden;
}
.listDashboard{
    list-style: circle;
}
.eventList {
    border: 1px solid #bbb;
}
ul {
    list-style: none;
}
.eventList {
    width: 100%;
    height: 7vh;
    vertical-align: top;
}
.leftSide {
    padding-left: 1vw;
}
.eventName {
    position: relative;
    font-size: 2.5vh;
    top: 1vh;
}
.eventDeadline {
}
.eventTimeLeft {
    position: relative;
    text-align: center;
    float: right;
    margin-right: 1vw;
    top: -5vh;
}
.EventFinishContainer{
    position: relative;
    left: 20vw;
}
#eventDeadline {
    position: relative;
    bottom: 1vh;
}
.KalenderHeader{
    text-align: center;
    font-size: 30px;
}